<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adrapps.mytasks">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".other.MyApplication"
        android:allowBackup="true"
        android:backupAgent=".other.Backup"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.DarkActionBar">
            <!--<meta-data-->
            <!--android:name="android.support.PARENT_ACTIVITY"-->
            <!--android:value="com.adrapps.mytasks.views.MainActivity"/>-->
        </activity>

        <activity
            android:name=".api_calls.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".views.NewTaskOrEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.MainActivity"/>

        <receiver
            android:name=".receivers.AlarmReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="WhatEverYouWant"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.OnBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.MarkCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ddd"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI5RxBc34dSH7m1o8X84T1y1ik137ZZBKMtDG4MQ"/>

        <service android:name=".api_calls.MarkCompleteFromNotification"/>

    </application>

</manifest>